

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}




.card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-auto-rows: minmax(25px, auto);
  background-color: white;
  border-radius: 15px;
  padding: 1em;
  width: auto;
  height: auto;
  min-height: 100%;
  margin-bottom: 1em;
}
.card:hover {
  box-shadow: rgba(149, 157, 165, 0.9) 0px 8px 24px;
  cursor: pointer;
}

.cardTitle {
  text-transform: uppercase;
  font-weight: 650;
}

.card_img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardtextBold {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.textNormalGrey {
  font-weight: normal;
  color: rgb(136, 136, 136);
}
.textNormal {
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.Input_text {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

body {
        background: #F5F5F5;  /* fallback for old browsers */ 
        

       
           height: 100vh;
          min-height: 500px;
     
     
    }
    body::-webkit-scrollbar {
      height: 0.25rem;
      width: 0.25rem;
    }
    
    body::-webkit-scrollbar-track {
      background: #1e1e24;
    }
    
    body::-webkit-scrollbar-thumb {
      background: #0467e9;
    }
  